.main-footer {
    color: white;
    background-color: rgb(19, 121, 206);
    padding-top: 2em;
    position: relative;
    bottom: 0;
    width: 100%;
    
  }
  
  .logo img {
    margin: 12px 18px;
    padding-top: 2px;
    width: 25px;
}
  